@import url(https://fonts.googleapis.com/css?family=Montserrat);

.navbarContainer {
    background-color: #232323;
    border-bottom: 4px solid #f73e25 ;
}

 body {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  background: url(http://ds2-p.atlusnet.jp/portal_images/bg_01.jpg);
}

* {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 2;
    height: fit-content;
    justify-content: center;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}
.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}

.pro-sidebar > .pro-sidebar-inner {
    background: #232323;
    height: 100%;
    min-height: 100vh;
    /* max-width: 20vw; */
    position: relative;
    z-index: 101;
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
#search {
    /* width: 457px; */
		width: 470px;
    margin: 4px;
}
#search_text{
    width: 407px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #f73e25;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(228, 130, 49);
}
#search_button {
    border: 0 none;
    background: #555 url(https://designmodo.com/demo/dropdown-menu-search/search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}
#options a {
    border-left: 0 none;
}
#options > a {
    /* background-image: url(triangle.png); */
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 176px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index: 2;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.cartList {

}
.subnav.cart {
    width: 172px;
}